
.hero{
    display: flex;
    background-color:blue;
    overflow: hidden;

    .first-div{
        flex: 0.5;
        overflow: hidden;
        .wrapper
        {
        color: white;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        height: 400px;
        z-index: 2;
        float: left;
        margin-top: 40%;
        margin-left: 30%;
        justify-content: center;
        flex-direction: column;

        }

        h2{
            height: 100px;
            transition: all 2s ease;
            span{
                font-size: 70px;
                font-weight: 600;
                // color: yellow;
                color: blue;
                background-color: white;
            }
        }
    }
    .canvas{
        height: 200px;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        width: 80%;
        flex: 0.5;
    }
}



@media screen and (max-width: 800px){
    .hero{
        flex-direction: column;
        .first-div{
            display: flex;
            align-items: center;
            overflow: hidden;
            .wrapper{
                scrollbar-width: none;

                h2{
                    span{
                        font-size: 30px;
                    }
                }
            }
        }

        .canvas{
            height: 50px;
            width: 10%;
        }
    }
}

@media screen and (min-width: 3000px){
    .hero{
        .first-div{
            .wrapper{
                h2{
                    height: 150px;
                    span{
                        font-size: 130px;
                    }
                }
            }
        }
    }
}